<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginVerify</servlet-name>
        <servlet-class>servlet.LoginVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewMed</servlet-name>
        <servlet-class>servlet.AddNewMed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLSubmit</servlet-name>
        <servlet-class>servlet.SLSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewcc</servlet-name>
        <servlet-class>servlet.AddNewcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewInv</servlet-name>
        <servlet-class>servlet.AddNewInv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMedInfo</servlet-name>
        <servlet-class>servlet.GetMedInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOEValue</servlet-name>
        <servlet-class>servlet.GetOEValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStdInfo</servlet-name>
        <servlet-class>servlet.GetStdInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUndeliveredMed</servlet-name>
        <servlet-class>servlet.GetUndeliveredMed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineDelivered</servlet-name>
        <servlet-class>servlet.MedicineDelivered</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveImage</servlet-name>
        <servlet-class>servlet.RetrieveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocLedgerSubmit</servlet-name>
        <servlet-class>servlet.StocLedgerSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitStdPrescription</servlet-name>
        <servlet-class>servlet.SubmitStdPrescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocTransfer</servlet-name>
        <servlet-class>servlet.StocTransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGeneralAdvice</servlet-name>
        <servlet-class>servlet.GetGeneralAdvice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginVerify</servlet-name>
        <url-pattern>/LoginVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewMed</servlet-name>
        <url-pattern>/AddNewMed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLSubmit</servlet-name>
        <url-pattern>/SLSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewcc</servlet-name>
        <url-pattern>/AddNewcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewInv</servlet-name>
        <url-pattern>/AddNewInv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMedInfo</servlet-name>
        <url-pattern>/GetMedInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOEValue</servlet-name>
        <url-pattern>/GetOEValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStdInfo</servlet-name>
        <url-pattern>/GetStdInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUndeliveredMed</servlet-name>
        <url-pattern>/GetUndeliveredMed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineDelivered</servlet-name>
        <url-pattern>/MedicineDelivered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveImage</servlet-name>
        <url-pattern>/RetrieveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocLedgerSubmit</servlet-name>
        <url-pattern>/StocLedgerSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitStdPrescription</servlet-name>
        <url-pattern>/SubmitStdPrescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocTransfer</servlet-name>
        <url-pattern>/StocTransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGeneralAdvice</servlet-name>
        <url-pattern>/GetGeneralAdvice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
